{% load static %}
<html>
  <head>
    <title>Blog List</title>
    <link rel="stylesheet" href="{% static 'blog.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <section>
        <div>
          <h1>게시판</h1>
          <div class="button-wrapper">
            <button><a href="new_post/">글쓰기</a></button>
          </div>
          <div class="category-wrapper">
            <p>연번</p>
            <p>제목</p>
          </div>
          <div class="list-wrapper">
            {% for list in postlist %}
              <li>
                {{forloop.counter}}
                <a href="/blog/{{list.pk}}/">{{list.postname}}</a></p>
              </li>
              {% empty %}
              <li>작성된 글이 없습니다.</li>
              {% endfor %}
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
