{% load static %}

<link rel="stylesheet" href="{% static 'default.css' %}" />
<script defer src="{% static 'header.js' %}"></script>
<header class="header">
  <a href="/"
    ><img
      src="{% static 'logo(pyking).png' %}"
      alt="logo image"
      class="logo"
      id="logo"
  /></a>

  <p
    class="menu-item {% if request.path|slice:':8' == '/problem' %}active{% endif %}"
    id="problem"
  >
    코딩테스트
  </p>
  <p
    class="menu-item {% if request.path|slice:':7' == '/blog' %}active{% endif %}"
    id="blog"
  >
    게시판
  </p>
</header>
