{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Main Page</title>
</head>
<body>
    <h2>문제 목록</h2>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>제목</th>
                <th>정답</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in question_list %}
                <tr>
                    <td>{{ problem.title|remove_quotes}}</td>
                    <td>{{ problem.answer|parse_and_br|remove_quotes|safe }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">등록된 문제가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
