{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>solve</title>
  </head>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <body>
    {% include 'header.html' %}
    <main>
      <div class="wrap">
        <a href="#" class="content1">
          <img src="{% static 'content1.png' %}" class="content1img" />
          <p class="text1">문제 이어서 시작하기</p>
        </a>
        <div class="content23-wrapper">
          <section class="content2">
            <div>
              <h1>문제 찾기</h1>
              <img src="{% static 'searchicon.png' %}" class="searchimg" />
            </div>
            <input type="text" placeholder="문제를 검색하세요." />
            <ul class="question-list">
              <li class="question-item">
                <a href="#">1번 A+B</a>
              </li>
              <li class="question-item">
                <a href="#">1</a>
              </li>
              <li class="question-item">
                <a href="#">1</a>
              </li>
              <li class="question-item">
                <a href="#">1</a>
              </li>
            </ul>
          </section>
          <section class="content3">
            <div>
              <h1 style="text-align: center">공지사항</h1>
              <img src="{% static 'noticeicon.png' %}" class="noticeimg" />
            </div>
            <ul class="notice-list">
              <li class="notice-item">
                공지사항1
                <a href="#"></a>
              </li>
              <li class="notice-item">공지사항2</li>
              <li class="notice-item">공지사항3</li>
            </ul>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
