{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static 'new_post.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기 페이지</title>
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <section>
        <div>
          <form method="POST" action="/blog/new_post/">
            {% csrf_token %}
            <div class="subsection">
              <p>제목</p>
              <input
                type="text"
                name="postname"
                placeholder="제목을 입력하세요."
                required
              />
              <p>내용</p>
              <div class="content-wrapper">
                <textarea
                  name="contents"
                  placeholder="내용을 입력하세요."
                ></textarea>
                <div class="submit-wrapper">
                  <input type="submit" value="글쓰기" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
