{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'problem.css' %}" />
    <title>problem</title>
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <section>
        <div class="title-area">
          <p class="number">문제 번호</p>
          <p class="level">난이도</p>
          <p class="title">제목</p>
        </div>
        <div class="content-area">
          {% for problem in question_list %}
          <div class="line">
            <p class="number">{{ problem.index }}</p>
            <p class="level">{{ problem.difficulty}}</p>
            <p class="title">
              <a
                href="/solve?problem_index={{ problem.index }}"
                class="problem-link"
              >
                {{ problem.title}}
              </a>
            </p>
          </div>
          {% endfor %}
        </div>
        <div class="pageNav"></div>
      </section>
    </main>
  </body>
</html>
