{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>solve</title>
    <link rel="stylesheet" href="{% static 'solve.css' %}" />
  </head>
  <body>
    <div class="header_area">{% include 'header.html' %}</div>
    <main class="main">
      <section class="problem-section">
        <p class="problem-title">문제</p>
        <div>
          <div class="problem-content">
            {% if problem %}
            <h2>{{ problem.title }}</h2>
            <p>{{ problem.problem|linebreaksbr }}</p>
            {% else %}
            <p>문제를 불러올 수 없습니다.</p>
            {% endif %}
          </div>
          <div class="gutter-vertical">|||</div>
        </div>
      </section>
      <div class="editor-wrapper">
        <section class="code-editor-section">
          <div class="editor-header">
            <p class="code-editor-title">코드작성</p>
            <button class="practice-mode-btn">연습모드</button>
          </div>
          <div class="editor-area">
            <div class="editor-line">
              <p>1</p>
              <input type="text" />
            </div>
          </div>
        </section>
        <section class="code-display-section">
          <p class="code-display-title">출력</p>
        </section>
      </div>
      <section class="chatbot-section">
        <p class="chatbot-section-title">챗봇임</p>
      </section>
    </main>
    <script async src="{% static 'solve.js' %}" defer></script>
  </body>
</html>
